@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    --cor-fundo-main: #f8d3cc;
    --cor-fundo-header: #ffe8e8;
    --cor-pesquisar: #f5a8a8;
    --cor-logo: #ca5555;
    --vermelho-medio: #791111;
    --vermelho-claro: #ff1414;
    --vermelho-escuro: #240101;
    --vermelho-botao: #f52e2e;
    --cor-botao-hover: #fa1919;
    --cor-botao: #fa4848;
    --borda-caixas: 1px solid pink;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    background-color: var(--cor-fundo-header);
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background-color: var(--cor-fundo-main);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor-logo);
}

header {
    padding: 20px 20px 20px 10px;
    margin-top: 5px;
}

main {
    background-color: var(--cor-fundo-main);
    padding: 15px;
    margin: 10px auto;
}

#logo {
    background-color: var(--cor-logo);
    border-radius: 10px;
    position: relative;
    top: -20px;
    left: 50%;
    margin-top: 5px; 
    transition: .5s;
    cursor: pointer;
    background-image: linear-gradient(45deg, #ca5555, #fa4848);
    background-size: 100% 100%;
    background-position: 50% 100%;
    animation: cores 10s ease infinite;
    transform: translateX(-50%);
}

@keyframes cores {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#logo:hover {
    box-shadow: var(--sombra);
    transform: scale(1.05);
    transition: .6s;
}

#titulo {
    background-color: var(--cor-logo);
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#subtitulo {
    display: none;
    color: white;
}

#subtitulo:hover {
    color: var(--cor-pesquisar);
}

#itens {
    display: none;
}

nav > div {
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 30%;
}

.material-icons {
    background-color: transparent;
}

.material-icons,
#menu-burguer {
    color: var(--vermelho-medio);
}

nav > div:nth-child(even) {
    border: 1px solid var(--vermelho-claro); 
    border-left: none;
    border-right: none;
    padding: 5px 0px;
}

.atalho {
    background-color: transparent;
}

.atalho,
.pessoa {
    font-size: 16px;
    line-height: 21px;
    color: var(--vermelho-escuro);
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.perfil {
    display: none;
}

#foto-perfil::before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: rgb(224, 108, 108);
    display: inline-block;
    border-radius: 50%;
}

#caixa-pesquisar {
    text-align: center;
    border: var(--borda-caixas);
}

#pesquisar {
    width: 300px;
    height: 40px;
    background-color: var(--cor-pesquisar);
    border: none;
    margin-left: 15px;
    text-indent: 20px;
    border-radius: 15px;
}

#pesquisar:focus{
    outline: none;
}

#pesquisar:hover {
    border: 1px solid var(--vermelho-claro);
}

#pesquisar::placeholder {
    color: var(--vermelho-escuro);
    opacity: .8;
}

#novo-cadastro,
#botao-imprimir,
#botao-gravar {
    width: 239px;
    height: 39px;
    background-color: var(--cor-botao);
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    border: none;
}

#novo-cadastro:hover,
#botao-imprimir:hover,
#botao-gravar:hover {
    transition: .3s;
    background-color: var(--cor-botao-hover);
    color: white;
    transform: scale(1.05);
    box-shadow: var(--sombra);
    transition: .6s;
}

@media screen and (min-width: 768px) {
    #menu-burguer {
        display: none;
    }

    #itens {
        display: block;
    }

    header {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
    }

    #logo {
        position: static;  
        display: flex;
        align-items: center;
        width: 297px;
        height: 62px;
        margin-bottom: 40px;
        transform: translate(0);
    }

    #titulo {
        background-color: transparent;
        border-radius: 0px;
        font-size: 40px;
        margin: 0px 20px 0px 15px;
        position: initial;
        top: 0;
        left: 0;
        transform: translateX(0);
    }

    #subtitulo {
        display: block;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
    }

    nav > div {
        display: inline;
    }

    .atalho {
        text-transform: uppercase;
        padding: 15px 15px;
    }

    .pessoa:hover {
        text-decoration: underline;
    }

    nav > div:nth-child(even) {
        border: none;
    }

    .material-icons {
        display: none;
    }
    
    #foto-perfil {
        display: none;
    }

    #pesquisar {
        width: 500px;
        transition: '.5';
    }
}

@media screen and (min-width: 1300px) { 
    body {
        display: grid;
        grid-template-areas: 
            "header main main"
            "header main main"
            "header main main";
        overflow-x: hidden;
    }

    header {
        grid-area: header;
        width: 22%;
        height: 100vh;
        display: block;
    }

    .perfil-menu {
        display: none;
    }

    #logo {
        margin-top: -10px;
    }

    nav > div {
        display: flex;
        width: 20vw;
        margin-left: 10px;
    }

    .atalho {
        text-transform: none;
        font-size: 18px;
        line-height: 21px;
        margin-left: 10px;
        text-transform: none;
        padding: 0;
    }

    .atalho:hover {
        background-color: transparent;
        color: var(--vermelho-claro);
    }
    
    nav > div:nth-child(even) {
        border: 1px solid var(--vermelho-claro); 
        border-left: none;
        border-right: none;
    }

    nav > div:nth-child(even):hover {
        border: 1px solid var(--vermelho-escuro); 
        border-left: none;
        border-right: none;
    }

    .material-icons {
        display: block;
        border: none;
        padding: 0;
    }

    main {
        grid-area: main;
        margin: 0;
        padding: 15px;
    }

    #caixa-pesquisar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--cor-fundo-header);
        height: 62px;
        border-radius: 10px;
    }

    #pesquisar{
        display: inline;
        width: 50%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-right: 50px;
    }

    #caixa-pesquisar > div {
        margin-right: 10px;
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #foto {
        background-color: rgb(224, 108, 108);
        width: 30px;
        height: 30px;
        padding: 20px;
        border-radius: 50%;
    }

    .perfil {
        display: block;
    }

    #nome {
        cursor: pointer;
    }

    #sair {
        color: var(--vermelho-escuro);
        text-transform: uppercase;
        border: none;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;
        background-color: transparent;
    }

    #sair:hover {
        font-size: 18px;
        transform: scale(1);
        transition: .6s;
    }

    #foto-perfil {
        display: block;
        margin: 15px;
    }

    #linha {
        border: 1px solid var(--vermelho-escuro);
        width: 30.15px;
        rotate: -90deg;
        margin-left: 10px;
    }
}