#caixa1,
#caixa2,
#caixa3 {
    margin: 20px auto;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    background-color: var(--cor-fundo-header);
    border: var(--borda-caixas);
    border-radius: 10px;
}

#caixa1:hover, 
#caixa2:hover, 
#caixa3:hover {
    border: 1px solid var(--vermelho-claro);
    cursor: pointer;
    transform: scale(1.10);
    transition: .6s;
}

.valor {
    font-size: 2em;
}

#caixas .subtitulo {
    font-size: .8em;
    opacity: .8;
    color: var(--vermelho-escuro);
}

#ultimos-cadastros {
    background-color: var(--cor-fundo-header);
    border: var(--borda-caixas);
    border-radius: 5px;
    margin: auto;
    height: 100vh;
}

#ultimos-cadastros p {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    opacity: .7;
    padding: 20px 0px 0px 10px;
    color: var(--vermelho-escuro);
    display: inline-block;
}

#ultimos-cadastros p:hover {
    color: var(--vermelho-claro);
}

@media screen and (min-width: 550px) and (max-width: 992px) { 
    #caixas {
        display: flex;
        flex-wrap: wrap;
    }
    #caixa1, #caixa2, #caixa3 {
        width: 250px;
        height: 150px;
        justify-content: space-evenly;
        transition: .3s;
    }
    #ultimos-cadastros {
        width: 73vw;
    }
}

@media screen and (min-width:992px) {

    #caixas {
    display: flex;
    margin-top: 20px;
    margin: auto;
    }

    #caixa1, #caixa2, #caixa3 {
        width: 300px;
        height: 200px;
        transition: .2s;
    }

    #caixas abbr {
        text-decoration: none;
    }

    .valor {
        font-size: 60px;
        line-height: 75px;
        margin-top: 50px;
    }

    .subtitulo {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.45px;
        letter-spacing: 0em;
        opacity: 60%;
        text-align: right;
        margin-right: 10px;
        margin-top: 30px;
    }

    #ultimos-cadastros {
        margin-top: 20px;
        width: 73vw;
    }

    #ultimos-cadastros p {
        padding: 20px 20px 0px 20px;
    }

    #tabela {
        padding: 20px;
    }
}

@media screen and (min-width: 1200px) {
    #caixas {
        flex-wrap: nowrap;
        transition: .3s;
    }
}