body {
    overflow: hidden;
}

#botao-imprimir {
    width: 234px;
    height: 39px;
    border-radius: 5px;
    background-color: #5763A0;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}