@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

#container {
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.315);
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    transition: .1s;
}

div#logo {
    background-color: #D9D9D9;
    ;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 15px auto;
}

div#logo > span#titulo {
    font-weight: bolder;
    font-size: 40px;
    line-height: 48.41px;
    text-transform: uppercase;
}

div#logo > span#subtitulo {
    font-weight: normal;
    font-size: 13px;
    line-height: 15.73px;
    text-align: center;
}

form#form > input {
    border: 2px solid black;
    margin: 15px;
    width: 300px;
    height: 40px;
    text-indent: 17px;
}

form#form > input:hover {
    background-color: rgb(245, 240, 240);
}

form#form > input::placeholder {
    font-size: 15px;
    line-height: 17.58px;
    opacity: .6;
}

button[type=submit] {
    background-color: black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border: none;
    width: 304px;
    height: 40px;
}

form#form button[type=submit]:hover {
    background-color: #d3d3d3;
    border: 1px solid gray;
    color: black;
}

#esqueceu {
    padding: 20px;
    color: #0000FF;
    cursor: pointer;
}

hr {
    width: 80%;
    margin: auto;
}

#nova-conta {
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    color: white;
    margin: 15px;
    background-color: #26e91f;
    border-radius: 30px;
}

#nova-conta:hover {
    background-color:#1ab115;
}

@media screen and (min-width: 600px) {
    body {
        background-color: rgb(245, 240, 240);
        box-sizing: border-box;
    }
    
    main {
        height: 100vh;
        width: 100vw;
        position: relative;
    }
    
    section#container {
        padding-top: 15px;
        width: 570px;
        height: 600px;
    }
    
    div#logo {
        width: 163px;
        height: 163px;
        margin: auto;
    }

    form#form > input {
        margin: 20px;
        width: 343px;
        height: 52px;
    }
    
    form#form > input:hover {
        background-color: rgb(245, 240, 240);
    }
    
    form#form > input::placeholder {
        font-size: 15px;
        line-height: 17.58px;
        opacity: .6;
        margin-left: 17px;
    }
    
    button[type=submit] {
        width: 343px;
        height: 52px;
    }

    hr {
        width: 60%;
    }
}