@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    --cor-fundo: #f8cccc;
    --cor-fundo-input: #f7bdbd;
    --cor-logo: #ca5555;
    --cor-botao: #fa4848;
    --cor-botao-hover: #fa1919;
    --cor-bordas-hover: #380505;
    --cor-bordas: #bd1b1b;
    --vermelho-escuro: #240101;
    --sombra: 0px 15px 20px rgba(0,0,0,0.25)
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: pink;
}

#img-fundo {
    background-image: url("../imagens/fundo.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container-cadastro {
    display: none;
    transform: rotateY(-180deg);
}

#container {
    transform-style: preserve-3d;
    transition: transform 1s;
}

#container,
#container-cadastro {
    box-shadow: var(--sombra);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 570px;
    border-radius: 10px;
    text-align: center;
    transition: opacity 2s ease-in-out;
}

div#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 15px auto;
    background-image: linear-gradient(45deg, #ca5555, #fa4848, #bd1b1b);
}

div#logo:hover {
    box-shadow: var(--sombra);
    transform: scale(1.05);
    transition: .6s;
}

div#logo > span#titulo {
    font-weight: bolder;
    font-size: 40px;
    line-height: 48.41px;
    text-transform: uppercase;
    color: white;
}

div#logo > span#subtitulo {
    font-weight: normal;
    font-size: 13px;
    line-height: 15.73px;
    text-align: center;
    color: white;
}

form#form input,
form#form-cadastro input {
    background-color: var(--cor-fundo-input);
    border: none;
    margin: 15px;
    width: 300px;
    height: 40px;
    text-indent: 17px;
}

form#form input::placeholder,
form#form-cadastro input::placeholder {
    line-height: 17.58px;
    color: var(--vermelho-escuro);
    opacity: .8;
}

input:focus {
    outline: 0;
} 

#mensagem {
    font-size: 12px;
}

#mensagem,
#mensagem-cadastro {
    color: #bd1b1b;
    padding: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: pink;
}

#mensagem-cadastro {
    font-size: 10px;
    width: 400px;
}

#campo-senha {
    position: relative;
}

.mostrarSenha {
    color: #bd1b1b;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.mostrarSenhaCadastro {
    color: #bd1b1b;
    position: absolute;
    top: 45%;
    right: 50px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

button[type=submit] {
    background-color: var(--cor-botao);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border: none;
    width: 304px;
    height: 40px;
}

form#form button[type=submit]:hover,
form#form-cadastro button[type=submit]:hover {
    background-color: var(--cor-botao-hover);
    color: white;
    transform: scale(1.01);
    transition: .6s;
    box-shadow: var(--sombra);
}

#esqueceu {
    padding: 20px;
    color: #0000FF;
    cursor: pointer;
}

#esqueceu:hover {
    text-decoration: underline;
}

hr {
    width: 80%;
    margin: auto;
}

#nova-conta {
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    color: white;
    margin: 15px;
    background-color: var(--cor-botao-hover);
    border-radius: 30px;
}

#nova-conta:hover {
    background-color: var(--cor-botao);
    box-shadow: var(--sombra);
    transform: scale(1.10);
    transition: .6s;
}

@media screen and (min-width: 600px) {
    body {
        box-sizing: border-box;
    }
    
    main {
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    #container,
    #container-cadastro {
        width: 600px;
        height: 590px;
    }
    
    #container,
    #container-cadastro {
        transition: .3s;
        padding-top: 15px;
    }
    
    div#logo {
        width: 120px;
        height: 120px;
        margin: auto;
    }

    form#form input,
    form#form-cadastro input {
        margin: 20px;
        width: 343px;
        height: 52px;
    }
    
    form#form input:hover, 
    form#form-cadastro input:hover {
        background-color: rgba(255, 176, 176, 0.575);
    }
    
    form#form > input::placeholder,
    form#form-cadastro > input::placeholder {
        font-size: 15px;
        line-height: 17.58px;
        opacity: .6;
        margin-left: 17px;
    }

    #mensagem {
        padding: 5px;
        background-color: transparent;
    }
    
    .mostrarSenha {
        right: 140px;
    }

    .mostrarSenhaCadastro {
        right: 140px;
        top: 48.5%;
    }

    button[type=submit] {
        width: 343px;
        height: 52px;
    }

    hr {
        width: 60%;
    }
}