:root {
    --cor-fundo-input: #f7bdbd;
}

#formulario,
#formularioEdicao {
    background-color: var(--cor-fundo-header);
    border: var(--borda-caixas);
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    width: 70vw;
    box-sizing: initial;
}

input,
textarea {
    font-size: 16px;
    color: var(--vermelho-medio);
}

#topo,
#topo-edicao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    margin-bottom: 30px;
}

#topo-titulo,
#topo-titulo-edicao {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: var(--vermelho-escuro);
    opacity: .8;
}

#topo-titulo:hover,
#topo-titulo-edicao:hover {
    color: var(--vermelho-claro);
}

#check {
    display: flex;
}

#status {
    width: 15px;
    height: 15px;
    color: var(--vermelho-escuro);
    margin-right: 10px;
}

#check > label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

#form,
#form-edicao {
    padding-left: 10px;
}

#labelInteresses,
#labelSentimentos,
#labelValores, 
#labelFatos,
#spanFatos,
#labelInteressesEdicao,
#labelSentimentosEdicao,
#labelValoresEdicao, 
#labelFatosEdicao,
#spanFatosEdicao {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: var(--vermelho-medio);
}

#labelInteresses:hover,
#labelSentimentos:hover,
#labelValores:hover, 
#labelFatos:hover,
#spanFatos:hover,
#labelInteressesEdicao:hover,
#labelSentimentosEdicao:hover,
#labelValoresEdicao:hover, 
#labelFatosEdicao:hover,
#spanFatosEdicao:hover {
    color: var(--vermelho-claro);
}

hr {
    border: 1px solid var(--vermelho-medio);
}

#fatos-dados > div, 
#fatos-dados > div > div,
#fatos-dados-edicao > div,
#fatos-dados-edicao > div > div {
    margin-top: 10px;
}

#fatos-dados label,
#fatos-dados-edicao label {
    font-size: 14px;
    line-height: 16px;
}

main input {
    text-indent: 10px;
}

#fatos-dados input, 
#fatos-dados-edicao input {
    height: 36px;
    border: none;
    background-color: var(--cor-fundo-input);
}

textarea {
    resize: none;
    margin-top: 10px;
    width: 69.2vw;
    height: 85px;
    border: none;
    background-color: var(--cor-fundo-input);
    text-indent: 5px;
    border-radius: 10px;
}

textarea:focus, 
input:focus{
    outline: 0;
} 

#fatos-dados input:hover,
#fatos-dados-edicao input:hover, 
textarea:hover {
    border: 1px solid var(--vermelho-escuro);
}

#endereco,
#enderecoEdicao,
#bloco-senhas {
    border-radius: 10px;
    width: 69.2vw;
}

#idade-email,
#idade-email-edicao {
    display: flex;
    justify-content: space-between;
}

#idade,
#idadeEdicao {
    border-radius: 10px;
    width: 20vw;
    margin-right: 10px;
}

#emailAtual,
#emailEdicao {
    border-radius: 10px;
    width: 47vw;
}

.interesses, 
.sentimentos, 
.valores {
    margin-top: 15px;
    border-radius: 10px;
}

#bloco-senhas {
    display: flex;
    justify-content: space-between;
}

.campo-senha {
    position: relative;
    display: flex;
}

.campo-senha input {
    flex: 1;
    padding-right: 30px;
}

.icone {
    color: #bd1b1b;
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.campo-senha #iconeSenha {
    right: 27px;
}

#senhaCad {
    margin-right: 20px;
}

#senhaCad, #confirmarSenha {
    border-radius: 10px;
    width: 32vw;
}

#msgErro,
#msgSucesso {
    display: none;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
}

#msgErro {
    background-color: rgb(226, 122, 122);
}

#msgSucesso {
    background-color: rgb(83, 199, 83);
}

.botao {
    margin-top: 20px;
    text-align: center;
}

#abrir-editar,
#botao-salvar,
#deletar {
    width: 239px;
    height: 39px;
    background-color: var(--cor-botao);
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    border: none;
}

#abrir-editar:hover,
#botao-salvar:hover,
#deletar:hover {
    transition: .3s;
    background-color: var(--cor-botao-hover);
    color: white;
    transform: scale(1.05);
    box-shadow: var(--sombra);
    transition: .6s;
}

#deletar {
    padding: 10px;
}

.formulario-edicao {
    display: none;
}

.div-confirmacao {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.tela-confirmacao {
    background-color: var(--cor-fundo-main);
    border: var(--borda-caixas);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 280px;
    height: 120px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.tela-confirmacao p {
    margin-top: -10px;
    margin-bottom: 10px;
}

.tela-confirmacao button {
    width: 100px;
    height: 39px;
    background-color: var(--cor-botao);
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    line-height: 19px;
    border: none;
    text-align: center;
}

.tela-confirmacao button:hover {
    transition: .3s;
    background-color: var(--cor-botao-hover);
    color: white;
    transform: scale(1.05);
    box-shadow: var(--sombra);
    transition: .6s;
}

#deletar {
    font-size: 14px;
    color: var(--vermelho-escuro);
    text-transform: uppercase;
    text-decoration: none;
}