.conjunto-perfil {
    padding: 15px;
}

#perfil {
    display: flex;
    align-items: center;
    border-bottom: var(--borda-caixas);
    padding: 30px;
}

#nome {
    align-items: end;
}

#fotoPerfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#configuracoes {
    padding-top: 10px;
}

#configuracoes a {
    text-decoration: none;
    color: var(--vermelho-escuro);
    font-size: 16px;
}

#configuracoes a:hover {
    color: var(--vermelho-claro);
}

#configuracoes div div {
    padding-top: 10px;
    margin-left: 10px;
    display: none;
}

#blocoNovoEndereco div {
    margin: 10px;
}

#configuracoes div div button {
    transition: .3s;
    background-color: var(--cor-botao-hover);
    color: white;
    transform: scale(1.05);
    box-shadow: var(--sombra);
    transition: .6s;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 0 20px;
}

#configuracoes div div button {
    cursor: pointer;
}

#configuracoes div div label {
    font-size: 14px;
    line-height: 16px;
    margin: 0 10px;
}

#configuracoes div div label:hover {
    font-weight: 700;
    line-height: 21px;
    color: var(--vermelho-medio);
}

#configuracoes div div input {
    height: 30px;
    text-indent: 10px;
    height: 36px;
    width: 300px;
    border: none;
    border-radius: 10px;
    margin: 0 20px;
    background-color: lightcoral;
}

#configuracoes div div input:focus {
    outline: 0;
}

#configuracoes div div input:hover {
    border: 1px solid var(--vermelho-escuro);
}

#editarPerfil,
#configurarPerfil {
    display: flex;
    flex-direction: column;
}

#configuracoes .titulo-lista {
    font-size: 20px;
    text-decoration: underline;
}

.mensagem {
    color: #bd1b1b;
    font-size: 12px;
    padding: 0px;
    background-color: pink;
}

.div-confirmacao {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.tela-confirmacao {
    background-color: var(--cor-fundo-main);
    border: var(--borda-caixas);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    height: 150px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.tela-confirmacao p {
    margin-top: -10px;
}

.tela-confirmacao button {
    width: 100px;
    height: 39px;
    background-color: var(--cor-botao);
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    line-height: 19px;
    border: none;
    text-align: center;
    margin: 10px 10px 0 0;
}

.tela-confirmacao button:hover {
    transition: .3s;
    background-color: var(--cor-botao-hover);
    color: white;
    transform: scale(1.05);
    box-shadow: var(--sombra);
    transition: .6s;
}

#deletar {
    font-size: 14px;
    color: var(--vermelho-escuro);
    text-transform: uppercase;
    text-decoration: none;
}

#deletar:hover {
    color: var(--vermelho-claro);
}