#formulario {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    width: 70vw;
}

#topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    margin-bottom: 30px;
}

#topo span {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 50%;
}

#topo > div {
    display: flex;
}

#topo > div > input {
    width: 15px;
    height: 15px;
    color: #807B7B;
    margin-right: 10px;
}

#topo > div > label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

label.obrigatorio::after, 
span.obrigatorio::after {
    content: ' *';
    color: red;
    font-weight: normal;
}

#formulario > form {
    padding-left: 10px;
}

#formulario > form > div > span {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

hr {
    border: 1px solid #CFCFCF
}

#fatos-dados > div, 
#fatos-dados > div > div {
    margin-top: 10px;
}

#fatos-dados label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

main input {
    text-indent: 10px;
}

#fatos-dados input {
    height: 36px;
    border: 1px solid #EEEBEB;
    background-color: #FCFCFC;
}

#fatos-dados #inome {
    width: 69.2vw;
}

#idade-email {
    display: flex;
    justify-content: space-between;
}

#idade {
    width: 20vw;
}

#email {
    width: 48vw;
}

#endereco {
    width: 69.2vw;
}

#fatos-dados #info {
    height: 52px;
    width: 69.2vw;
}

.interesses, 
.sentimentos, 
.valores {
    margin-top: 15px;
}

.interesses > textarea, 
.sentimentos > textarea, 
.valores > textarea {
    resize: none;
    margin-top: 10px;
    width: 69.2vw;
    height: 85px;
    border: 1px solid #EEEBEB;
    background-color: #FCFCFC;
    text-indent: 5px;
}

#botao {
    text-align: center;
}

button#botao-gravar {
    width: 239px;
    height: 39px;
    margin-top: 35px;
    background-color: #61A057;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

button#botao-gravar:hover {
    background-color: #487742;
}