:root {
    --vermelho-escuro: #240101;
    --cor-fundo-caixas: #f7eded;
    --cor-botao: #fa4848;
    --cor-fundo-input: #f7bdbd;
    --cor-botao-hover: #fa1919;
    --cor-bordas-hover: #bd1b1b;
    --cor-bordas: #380505;
}

#formulario {
    background-color: var(--cor-fundo-caixas);
    padding: 20px;
    margin: 20px auto;
    width: 70vw;
    box-sizing: initial;
}

#topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    margin-bottom: 30px;
}

#topo span {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: var(--vermelho-escuro);
    opacity: .8;
}

#topo > div {
    display: flex;
}

#topo > div > input {
    width: 15px;
    height: 15px;
    color: var(--vermelho-escuro);
    margin-right: 10px;
}

#topo > div > label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

label.obrigatorio::after {
    content: ' *';
    color: red;
    font-weight: normal;
}

#formulario > form {
    padding-left: 10px;
}

#labelInteresses,
#labelSentimentos,
#labelValores, 
#labelFatos,
#spanFatos {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

hr {
    border: 1px solid var(--vermelho-escuro);
}

#fatos-dados > div, 
#fatos-dados > div > div {
    margin-top: 10px;
}

#fatos-dados label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

main input {
    text-indent: 10px;
}

#fatos-dados input {
    height: 36px;
    border: 1px solid var(--cor-bordas);
    background-color: var(--cor-fundo-input);
}

#fatos-dados input:hover, textarea:hover {
    border: 1px solid var(--cor-bordas-hover);
}

input[type="checkbox"]:checked {
    appearance: none;
    background-color: rgb(235, 45, 45);
    border-radius: 50%;
    border: 1px solid rgb(128, 0, 0);
  }

#inome,
#endereco,
#bloco-senhas {
    border-radius: 10px;
    width: 69.2vw;
}

#idade-email {
    display: flex;
    justify-content: space-between;
}

#idade {
    border-radius: 10px;
    width: 20vw;
    margin-right: 10px;
}

#email {
    border-radius: 10px;
    width: 47vw;
}

.interesses, 
.sentimentos, 
.valores {
    margin-top: 15px;
    border-radius: 10px;
}

#bloco-senhas {
    display: flex;
    justify-content: space-between;
}

.campo-senha {
    position: relative;
    display: flex;
}

.campo-senha input {
    flex: 1;
    padding-right: 30px;
}

.icone {
    color: #bd1b1b;
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.campo-senha #iconeSenha {
    right: 27px;
}

#senhaCad {
    margin-right: 20px;
}

#senhaCad, #confirmarSenha {
    border-radius: 10px;
    width: 32vw;
}

textarea {
    resize: none;
    margin-top: 10px;
    width: 69.2vw;
    height: 85px;
    border: 1px solid var(--cor-bordas);
    background-color: var(--cor-fundo-input);
    text-indent: 5px;
    border-radius: 10px;
}

#msgErro,
#msgSucesso {
    display: none;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
}

#msgErro {
    background-color: rgb(226, 122, 122);
}

#msgSucesso {
    background-color: rgb(83, 199, 83);
}

#botao {
    text-align: center;
}

button#botao-gravar {
    margin-top: 35px;
}