:root {
    --verde-escuro: #012402;
    --cor-fundo-caixas: #eef7ed;
    --cor-botao: #8DFA48;
    --cor-fundo-input: #c4f7bd;
    --cor-botao-hover: #19FA1F;
    --cor-bordas-hover: #1bbd21;
    --cor-bordas: #053807;
}

#formulario {
    background-color: var(--cor-fundo-caixas);
    padding: 20px;
    margin: 20px auto;
    width: 70vw;
    box-sizing: initial;
}

#topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    margin-bottom: 30px;
}

#topo span {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: var(--verde-escuro);
    opacity: .8;
}

#topo > div {
    display: flex;
}

#topo > div > input {
    width: 15px;
    height: 15px;
    color: var(--verde-escuro);
    margin-right: 10px;
}

#topo > div > label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

label.obrigatorio::after {
    content: ' *';
    color: red;
    font-weight: normal;
}

#formulario > form {
    padding-left: 10px;
}

#labelInteresses,
#labelSentimentos,
#labelValores, 
#labelFatos,
#spanFatos {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

hr {
    border: 1px solid var(--verde-escuro);
}

#fatos-dados > div, 
#fatos-dados > div > div {
    margin-top: 10px;
}

#fatos-dados label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

main input {
    text-indent: 10px;
}

#fatos-dados input {
    height: 36px;
    border: 1px solid var(--cor-bordas);
    background-color: var(--cor-fundo-input);
}

#fatos-dados input:hover, textarea:hover {
    border: 1px solid var(--cor-bordas-hover);
}

input[type="radio"]:checked {
    appearance: none;
    background-color: rgb(45, 235, 45);
    border-radius: 50%;
    border: 1px solid green;
  }

#inome,
#endereco,
#bloco-senhas {
    width: 69.2vw;
}

#idade-email {
    display: flex;
    justify-content: space-between;
}

#idade {
    width: 20vw;
    margin-right: 10px;
}

#email {
    width: 47vw;
}

.interesses, 
.sentimentos, 
.valores {
    margin-top: 15px;
}

#bloco-senhas {
    display: flex;
    justify-content: space-between;
}

#senha {
    margin-right: 20px;
}

#senha, #confirmarSenha {
    width: 32vw;
}

textarea {
    resize: none;
    margin-top: 10px;
    width: 69.2vw;
    height: 85px;
    border: 1px solid var(--cor-bordas);
    background-color: var(--cor-fundo-input);
    text-indent: 5px;
}

#msgErro,
#msgSucesso {
    display: none;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
}

#msgErro {
    background-color: rgb(226, 122, 122);
}

#msgSucesso {
    background-color: rgb(83, 199, 83);
}

#botao {
    text-align: center;
}

button#botao-gravar {
    margin-top: 35px;
}