@media print {
    header,
    p,
    #caixas,
    #caixa-pesquisar,
    #relatorio p,
    #relatorio input {
        display: none;
    }
    #relatorio {
        border: none;
    }
    nav > div:nth-child(odd) {
        border: 1px solid #bd1b1b;
    }
    #tabela tr {
        justify-content: space-between;
    }
    #tabela th:nth-child(3),
    #tabela td:nth-child(3) {
        width: 10%;
    }
}