:root {
    --cor-fundo-caixas: #eef7ed;
    --cor-bordas-hover: #1bbd21;
    --cor-texto: #012402;
}

#relatorios {
    background-color: var(--cor-fundo-caixas);
    margin-top: 15px;
    height: 100vh;
}
#relatorios td {
    width: 100%;
}

#relatorios > p {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    padding: 15px;
    opacity: .8;
    color: var(--cor-texto);
}

#botao {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--cor-texto);
    cursor: pointer;
}