:root {
    --cor-fundo-caixas: #eef7ed;
    --cor-bordas-hover: #053807;
    --cor-bordas: #1bbd21;
    --verde-escuro: #012402;
}

#relatorio {
    background-color: var(--cor-fundo-caixas);
    margin: 15px auto;
}

#relatorio > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#relatorio > div > p {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    opacity: .8;
    color: var(--verde-escuro);
}

#tabela {
    margin: 15px 15px 15px 0px;
    padding: 10px;
}

#tabela thead tr, #tabela tbody tr {
    border: 1px solid var(--cor-bordas);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#tabela thead tr:hover, #tabela tbody tr:hover {
    border: 1px solid var(--cor-bordas-hover);
    border-top: none;
    border-left: none;
    border-right: none;
}

#tabela th {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    opacity: 0.7;
    text-transform: uppercase;
    text-align: left;
}

#tabela td {
    font-size: 16px;
    line-height: 18.17px;
    color: var(--verde-escuro);
    opacity: .8;
}

.nome {
    width: 150px;
}

.email {
    width: 150px;
    margin-right: 50px;
}

.status {
    width: 60px;
    text-align: center;
}

@media screen and (min-width: 550px) {
    #tabela thead tr, #tabela tbody tr {
        width: 70vw;
    }
    #relatorio {
        width: 73vw;
    }
}

@media screen and (min-width: 1200px)  {
    #relatorio {
        height: 490px;
    }
}