:root {
    --cor-fundo-caixas: #eef7ed;
    --cor-bordas-hover: #053807;
    --cor-bordas: #1bbd21;
    --verde-escuro: #012402;
}

#relatorio {
    background-color: var(--cor-fundo-caixas);
    margin: 20px auto;
}

#relatorio > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#relatorio > div > p {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    opacity: .8;
    color: var(--verde-escuro);
}

#tabela {
    margin-top: 15px;
    margin: 15px auto;
    padding: 10px;
}

 #tabela thead tr, #tabela tbody tr {
    width: 86vw;
    border: 1px solid var(--cor-bordas);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    display: flex;
}

#tabela thead tr:hover, #tabela tbody tr:hover {
    border: 1px solid var(--cor-bordas-hover);
    border-top: none;
    border-left: none;
    border-right: none;
}

#tabela th {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    opacity: 0.7;
    text-transform: uppercase;
    text-align: left;
}

#tabela td {
    font-size: 16px;
    line-height: 18.17px;
    color: var(--verde-escuro);
    opacity: .8;
}

#tabela td:hover {
    opacity: 1;
}

.nome {
    width: 25vw;
}

.email {
    width: 50vw;
}

td.email, td.status {
    margin-right: 8px;
}

@media screen and (min-width: 550px) and (max-width: 702px) {
    .nome {
        transition: .5s;
        margin-right: 20px;
    }
}

@media screen and (min-width: 702px) and (max-width: 750px) {
    .nome {
        width: 35vw;
    }
    .email {
        width: 30vw;
    }
}

@media screen and (min-width: 750px) {
    #tabela thead tr, #tabela tbody tr {
        width: 70vw;
    }
}

@media screen and (min-width: 1200px)  {
    #relatorio {
        height: 490px;
    }
    
    #tabela thead tr, #tabela tbody tr {
        width: 70vw;
    }
    
    .nome {
        width: 50vw;
    }
    
    .email {
        width: 50vw;
    }
}