@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Inter, sans-serif;
}

body, html {
    overflow-x: hidden;
}

header {
    padding: 20px 20px 20px 10px;
    margin-top: 5px;
}

div#logo {
    position: relative;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px; 
}

div#logo > span#titulo {
    background-color: #EFF4FC;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

span#subtitulo {
    display: none;
}

#itens {
    display: none;
}

nav > div {
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 30%;
}

nav > div > span {
    background-color: transparent;
}

nav > div:nth-child(even) {
    border: 1px solid #D9D9D9; 
    border-left: none;
    border-right: none;
    padding: 5px 0px;
}

nav > div > span, 
span#menu-burguer {
    color: #736E6E;
}

nav > div > input {
    background-color: white;
}

nav > div > input, .pessoa {
    font-size: 16px;
    line-height: 21px;
    color: #242323;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.perfil {
    display: none;
}

#foto-perfil::before {
    content: '';
    width: 25px;
    height: 25px;
    background-image: url('../imagens/minha_foto.png');
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
}

#sair {
    font-size: 16px;
    line-height: 19px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#caixa-pesquisar {
    text-align: center;
}

#pesquisar {
    width: 300px;
    height: 40px;
    background-color: white;
    border: none;
    margin-left: 15px;
    text-indent: 20px;
    border-radius: 15px;
}

@media screen and (min-width: 768px) {
    #menu-burguer {
        display: none;
    }
    #itens {
        display: block;
    }
    header {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
    }
    div#logo {
        position: static;  
        display: flex;
        align-items: center;
        background-color:#EFF4FC;
        width: 297px;
        height: 62px;
        margin-bottom: 40px;
        transform: translate(0);
    }

    div#logo span#titulo {
        background-color: transparent;
        border-radius: 0px;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin: 0px 20px 0px 15px;
        position: initial;
        top: 0;
        left: 0;
        transform: translateX(0);
    }

    div#logo > span#subtitulo {
        display: block;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
    }
    nav > div {
        display: inline;
    }
    .atalho {
        text-transform: uppercase;
        padding: 15px 15px;
    }
    .atalho:hover {
        background-color: lightgray;
    }
    nav > div:nth-child(even) {
        border: none;
    }
    .material-icons {
        display: none;
    }
    div#foto-perfil {
        display: none;
    }
    #pesquisar {
        width: 500px;
        transition: '.5';
    }
}

@media screen and (min-width: 1200px) { 
    body {
        display: grid;
        grid-template-areas: 
            "header barra barra"
            "header main main"
            "header main main";
        overflow-x: hidden;
    }

    header {
        grid-area: header;
        width: 22%;
        height: 100vh;
        padding: 20px 20px 20px 10px;
        display: block;
    }

    .perfil-menu {
        display: none;
    }

    div#logo {
        margin-top: -10px;
    }

    div#logo span#titulo {
        background-color: transparent;
        border-radius: 0px;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin: 0px 20px 0px 15px;
        position: initial;
        top: 0;
        left: 0;
        transform: translateX(0);
    }

    div#logo > span#subtitulo {
        display: block;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
    }

    nav > div {
        display: flex;
        width: 390%;
    }
    
    nav > div:nth-child(even) {
        border: 1px solid #D9D9D9; 
        border-left: none;
        border-right: none;
        padding: 5px 0px;
    }

    .material-icons {
        display: block;
        border: none;
        padding: 0;
    }

    nav > div > input {
        font-size: 18px;
        line-height: 21px;
        margin-left: 10px;
        text-transform: none;
        padding: 0;
    }

    main {
        grid-area: main;
        background-color: rgb(245, 240, 240);
        margin: 0;
    }

    #caixa-pesquisar {
        grid-area: barra;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: #EDEDED;
        height: 62px;
    }

    #pesquisar{
        width: 40%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    #perfil {
        display: flex;
        width: 33%;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 10px;
    }

    #foto-nome {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .perfil {
        display: block;
    }

    #foto-perfil::before {
        width: 40px;
        height: 40px;
    }

    #sair {
        color: #6F6B6B;
        text-transform: uppercase;
    }

    div#foto-perfil {
        display: block;
        margin: 15px;
    }

    .pessoa {
        font-size: 16px;
        line-height: 19px;
        color: #4B4949;
    }

    #linha {
        border: 1px solid#C1C0C0;
        width: 30.15px;
        rotate: -90deg;
    }
}