#relatorio {
    background-color: white;
    height: 490px;
    margin-top: 20px;
    width: 73vw;
}

#relatorio > div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#relatorio > div > p {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 50%;
}

#tabela {
    margin-top: 15px;
}

#tabela th {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 70%;
    text-transform: uppercase;
}

#tabela tr {
    width: 70vw;
    border: 1px solid #D9D9D9;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}